// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #2c3e50;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	
	.circle {
		background: red;
		height: 200px;
		width: 200px;
		border-radius: 50%;
		overflow: hidden;
		clip-path: circle(100px at 100px 100px);
		animation: night 5s ease infinite;
		.sky {
			height: 125px;
			width: 200px;
			background: #45aaf2;
		}
		.ground {
			height:75px;
			width: 200px;
			background: #f1c40f;
		}
		.sun {
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			bottom: 150px;
			left: 75px;
			animation: moveSun 5s ease-in-out infinite;
			transform-origin: 55% 600%;
			background: #f6e58d;
			box-shadow: 0 0 15px 0 #f6e58d;
		}
		
		.right {
			height: 60px;
			width: 60px;
			bottom: 75px;
			left: 100px;
			position: absolute;
			background: #bdc3c7;
			clip-path: polygon(0 0, 40% 100%, 100% 100%);
			animation: right 5s ease-in-out infinite;
		}
		.left {
			position: absolute;
			bottom: 75px;
			left: 50px;
			height: 60px;
			width: 100px;
			background: #ecf0f1;
			clip-path: polygon(50% 0, 0 100%, 100% 200%);
			animation: left 5s ease-in-out infinite;
		}
		.shadow {
			position: absolute;
			top: 125px;
			left: 50px;
			background: darken(#f1c40f, 10%);
			height: 50px;
			width: 140px;
			clip-path: polygon(80% 0, 0 0, 100% 55%);
			animation: shadowGround 5s ease-in-out infinite;
		}
	}
}

@keyframes moveSun {
	0% {
		transform: rotate(-75deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform:  rotate(75deg);
	}
}


@keyframes shadowGround {
	0% {
		clip-path: polygon(80% 0, 0 0, 100% 50%);
	}
	50% {
left: 50px;
	clip-path: polygon(80% 0, 0 0, 50% 29%);
	}
	100% {
		left: 10px;
	clip-path: polygon(100% 0, 29% 1%, 0 42%);
	}
}

@keyframes night {
	0% {
		opacity: 0;
	}
	25% {
		opaciy: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes right {
	0% {
		background: #bdc3c7;
	}
	50% {
		background: lighten(#bdc3c7, 5%);
	}
	100% {
		background: #ecf0f1;
	}
}

@keyframes left {
	0% {
		background: #ecf0f1;
	}
	50% {
		background: darken(#ecf0f1, 5%);
	}
	100% {
		background: #bdc3c7;
	}
}