// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$blue: #0575E6;
$green: #00F260;

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: $green;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $blue, $green);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $blue, $green); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	

}

.block {
	background: #FFF;
	height: 150px;
	width: 100px;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
	transition: .2s ease;
	.head {
		color: #FFF;
		height: 25%;
		width: 100%;
		background: $blue;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.price {
			margin: 10px 0 0 0;
			font-size: 1.5em;
			font-weight: bold;
		}
		.month {
			margin: 5px 0;
		}
		.line {
			
			height: 5px;
			width: 30px;
			background: $green;
			margin: 3px 0;
		}
		.line2 {
			width: 50px;
		}
	}
}

.basic {
	&:hover {
		cursor:pointer;
		transform: scale(1.1);
		transition: .2s ease;
	}
	&:hover ~ .prices {
		.price {
			.first {
				transform: translate(-50%, -50%) scaleX(58);
			}
			.second {
				transform: translate(-50%, -50%) scaleX(105);
			}
			.third {
				transform: translate(-50%, -50%) scaleX(55);
			}
		}
	}
}

.pro {
	&:hover {
		cursor:pointer;
		transform: scale(1.1);
		transition: .2s ease;
	}
	&:hover ~ .prices {
		.price {
			.first {
				transform: translate(-50%, -50%) scaleX(158);
			}
			.second {
				transform: translate(-50%, -50%) scaleX(200);
			}
			.third {
				transform: translate(-50%, -50%) scaleX(130);
			}
		}
	}
}

.premium {
	&:hover {
		cursor:pointer;
		transform: scale(1.1);
		transition: .2s ease;
	}
	&:hover ~ .prices {
		.price {
			.first {
				transform: translate(-50%, -50%) scaleX(330);
			}
			.second {
				transform: translate(-50%, -50%) scaleX(330);
			}
			.third {
				transform: translate(-50%, -50%) scaleX(330);
			}
		}
	}
}

.prices {
	height: 200px;
	width: 368px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
	.price {
		background: #FFF;
		height: 33%;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.left {
			padding-top: 10px;
			padding-left: 20px;
		}
		.right {
			padding-top: 10px;
			padding-right: 20px;
		}
		.bar-wrapper {
			background: #bdc3c7;
			border-radius: 10px;
			height: 20px;
			width: 90%;
			position: absolute;
			left: 5%;
			top: 50%;
			overflow: hidden;
			.bar {
				position: absolute;
				left:0;
				top:10px;
				height: 100%;
				width: 1px;
				transform: translate(-50%, -50%);
				transition: .2s ease;
				transform-origin: left;
				background: $blue;
				z-index: 99;
			}
		}
		
	}
}