.hello {
  height: 100 !important;
  width: 100% !important;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: left;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s ease infinite alternate;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.home_title {
  margin-top: 0 !important;
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 15px 0 !important;
}

.home_projects {
  padding-bottom: 10px;
}