body.dark {
	background: #202020;
	transition: background .3s ease-in-out;
	color: #fff;

	.title,
	.label,
	h1,
	h2,
	h3 {
		color: #fff;
	}


	strong {
		color: #fff !important;
	}

	.card-transparent {
		background: transparent;
		color: #FFF;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		text-align: center;

		.content {
			.title {
				color: #FFF !important;
			}
		}
	}

	article {
		color: #fff;

		.title {
			color: $second;
			margin-bottom: 5px;
		}

		.icon {
			fill: $second;
		}
	}

	.card {
		.title {
			color: $black;
		}
	}

	.hello {
		background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
		background-color: transparent;
	}
}