body.light {
	transition: background .3s ease-in-out;

	.hello {
		// color: black;
		background-color: darken($black, 10%);
		background-image: none;
	}

	article {
		color: $black;

		.title {
			color: $black;

			margin-bottom: 5px;
		}
	}

	.socialMediaIcons {
		.icon-wrapper {
			.icon {
				fill: $black;
			}
		}
	}

	hr {
		background-color: #202020;
	}

}