/*
|--------------------------------------------------------------------------
| WAVES
|--------------------------------------------------------------------------
|*/

.wave1 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 33%;
    top: -470px;
    background-color: #00d1b2;
    filter: blur(20px);
    border-radius: 40%;
    opacity: 0.5;
    -webkit-animation: rotate 20s ease infinite;
    animation: rotate 20s ease infinite;
}

.wave2 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 30%;
    top: -430px;
    opacity: 0.2;
    background-color: #00d1b2;
    border-radius: 40%;
    -webkit-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
}

.wave3 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 32%;
    top: -430px;
    opacity: 0.3;
    background-color: #00d1b2;
    border-radius: 40%;
    -webkit-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}