.center {
    height: 50px;
    width: 100px;
    display: block;
    position: relative;

    .checkbox {
        display: none;
    }

    .checkbox:checked~.envelope {
        path {
            stroke-dashoffset: 700;
            transition: stroke-dashoffset 1s ease-in-out;
        }

    }

    .checkbox:checked~.plane {
        path {
            stroke-dashoffset: 300;
            transition: stroke-dashoffset 1s ease-in-out 0.8s;
            animation: fly 2.5s ease-in-out;
        }

    }


    .contactButton {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        height: 100%;
        width: 100%;
        // background: yel  low;
        cursor: pointer;
    }

    .envelope {

        position: absolute;
        left: 0;
        top: 0;
        height: 100px;
        width: 100px;

        path {
            fill: none;
            stroke: #363636;
            stroke-width: 4;
            stroke-dasharray: 700;
            stroke-dashoffset: 0;
        }
    }

    .plane {
        height: 100px;
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;

        path {
            fill: none;
            stroke: black;
            stroke-width: 2;
            stroke-miterlimit: 10;
            stroke-dasharray: 700;
            stroke-dashoffset: 700;

        }
    }
}



@keyframes fly {
    0% {
        transform: translate(0, 0) scale(1);

    }

    50% {
        transform: translate(0, 0) scale(1);

    }

    100% {
        transform: translate(100px, 100px) scale(0);
    }

}