.navbar {
	background-color: #FFF;
	box-shadow: 0 0 5px 0 grey;

	.title {
		font-size: 1.4rem;
		padding-left: 35px;
		-webkit-animation: logo 0.5s ease-in-out;
		animation: logo 0.5s ease-in-out;
		margin: 0;
	}

	.active {
		border-bottom: 4px solid #00d1b2;
	}

	.title {
		color: #363636;
	}
}

/*
|--------------------------------------------------------------------------
| WAVES
|--------------------------------------------------------------------------
|*/

.wave1 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 29%;
	top: -430px;
	background-color: rgba(108, 99, 255, 0.4);
	border-radius: 40%;
	-webkit-animation: rotate 10s linear infinite;
	animation: rotate 10s linear infinite;
}

.wave2 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 30%;
	top: -430px;
	background-color: rgba(135, 128, 253, 0.4);
	border-radius: 40%;
	-webkit-animation: rotate 20s linear infinite;
	animation: rotate 20s linear infinite;
}

.wave3 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 31%;
	top: -430px;
	background-color: rgba(226, 224, 255, 0.4);
	border-radius: 40%;
	-webkit-animation: rotate 30s linear infinite;
	animation: rotate 30s linear infinite;
}

/*
|--------------------------------------------------------------------------
| LOGO
|--------------------------------------------------------------------------
|*/

.logo {
	.triangle {
		position: absolute;
		top: 15px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid #363636;
	}

	.t1 {
		left: 10px;
	}

	.t2 {
		left: 20px;
		-webkit-animation: move 1s ease-in-out;
		animation: move 0.5s ease-in-out;
	}

	.rectangle {
		position: absolute;
		top: 15px;
		left: 30px;
		height: 20px;
		width: 4px;
		background: #363636;
		-webkit-animation: moveL 1s ease-in-out;
		animation: moveL 0.5s ease-in-out;
	}
}

/*
|--------------------------------------------------------------------------
| HAMBURGER
|--------------------------------------------------------------------------
|*/

.hamburger {
	display: none;
	position: absolute;
	right: 10px;
	top: 15px;
	height: 40px;
	width: 40px;

	.ham {
		cursor: pointer;
		opacity: 0;
		height: 100%;
		width: 100%;
		display: inline-block;
		z-index: 999;
	}

	.ham:checked~.first {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0.2, 1);
		-ms-transform: rotate(0deg) scale(0.2, 1);
		transform: rotate(0deg) scale(0.2, 1);
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	// middle
	.ham:checked~.second {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
		-webkit-transition: -webkit-transform 0.5s ease;
		transition: -webkit-transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	}

	//bottom
	.ham:checked~.third {
		-webkit-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
		-webkit-transition: -webkit-transform 0.5s ease;
		transition: -webkit-transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	}

	// Show mobile menu
	.ham:checked~.mobileMenu {
		visibility: visible;
		opacity: 1;
		-webkit-transition: visibility 0s, opacity 0.5s ease;
		-o-transition: visibility 0s, opacity 0.5s ease;
		transition: visibility 0s, opacity 0.5s ease;
	}

	.mobileMenu {
		background: rgba(255, 255, 255, 0.95);
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -10;
		padding-top: 100px;
		visibility: hidden;
		opacity: 0;

		.mobileMenu__item {
			display: block;
			text-align: center;
			font-size: 3rem;
			padding-top: 30px;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	span {
		position: absolute;
		top: 0px;
		left: 0;
		height: 3px;
		width: 30px;
		background: #363636;
		border-radius: 5px;
		-webkit-transition: -webkit-transform 0.5s ease;
		transition: -webkit-transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		transition: transform 0.5s ease, -webkit-transform 0.5s ease;
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
		z-index: -1;
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	// middle
	span:nth-child(2) {
		top: 10px;
		-webkit-transition: -webkit-transform 0.5s ease;
		transition: -webkit-transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		transition: transform 0.5s ease, -webkit-transform 0.5s ease;
		opacity: 1;
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
	}

	//bottom
	span:nth-child(3) {
		top: 20px;
		-webkit-transition: -webkit-transform 0.5s ease;
		transition: -webkit-transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		transition: transform 0.5s ease, -webkit-transform 0.5s ease;
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
	}

	&:hover {
		cursor: poiner;
	}
}

/*
|--------------------------------------------------------------------------
| MEDIA QUERIES
|--------------------------------------------------------------------------
|*/

@media only screen and (max-width: 1024px) {
	.wave {
		display: none;
	}

	.navbar-end {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.mobileMenu {
		visibility: visible;
		opacity: 1;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

/*
|--------------------------------------------------------------------------
| Keyframes
|--------------------------------------------------------------------------
|*/

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(365deg);
		transform: rotate(365deg);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(365deg);
		transform: rotate(365deg);
	}
}

@-webkit-keyframes move {
	0% {
		left: 10px;
	}

	100% {
		left: 20px;
	}
}

@keyframes move {
	0% {
		left: 10px;
	}

	100% {
		left: 20px;
	}
}

@-webkit-keyframes moveL {
	0% {
		left: 10px;
		opacity: 0;
	}

	100% {
		left: 30px;
		opacity: 1;
	}
}

@keyframes moveL {
	0% {
		left: 10px;
		opacity: 0;
	}

	100% {
		left: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes logo {
	0% {
		font-size: 0;
		opacity: 0;
	}

	100% {
		font-size: 1.4rem;
		opacity: 1;
	}
}

@keyframes logo {
	0% {
		font-size: 0;
		opacity: 0;
	}

	100% {
		font-size: 1.4rem;
		opacity: 1;
	}
}