
.navbar {

    background-color: #FFF;
    box-shadow: 0 0 5px 0 grey;

    .title {
        font-size: 1.4rem;
    }
}


.wave1 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 29%;
    top: -84%;
    background-color: rgba(108,99,255, 0.4);
    border-radius: 40%;
     animation: rotate 10s linear infinite;
}

.wave2 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 30%;
    top: -84%;
    background-color: rgba(135,128,253, 0.4);
    border-radius: 40%;
     animation: rotate 20s linear infinite;
}

.wave3 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 31%;
    top: -83%;
    background-color: rgba(226,224,255, 0.4);
    border-radius: 40%;
     animation: rotate 30s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(365deg);
	}
}