// @import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$primary-color: linear-gradient(270deg, #96c93d, #00b09b);
$first: rgba(108, 99, 255, 0.4);
$second: #00d1b2;



body {
	// font-family: 'Raleway',
	// 	sans-serif;

	font-family: 'Rubik',
		sans-serif;

	// font-family: 'Fira Sans',
	// 	sans-serif;

	// font-family: 'Poppins',
	// 	sans-serif;
}


.greenButton {
	font-weight: 700;
	border: none;
	color: #FFF;
	background-color: #00d1b2;
	background-image: linear-gradient(to right, $first 0%, $second 51%, $first 100%);
	transition: background 0.5s ease;
	background-size: 300% auto;

	&:focus {
		color: #FFF;
	}

	&:hover {
		background-position: right center;
		color: #FFF;
	}
}

iframe {
	height: 475px;
}

.has-margin-right-25 {
	margin-right: 25px;
}


.has-text-weight-bold {
	margin-bottom: 10px;
}

.card {
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);

	.card-image {
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	}

	.card-content {
		.title {
			font-size: 1em;
		}

		.button.is-primary {
			background: #3273dc;
		}
	}

}


article {
	padding: 20px;
	margin-left: -20px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

article:hover {
	background-color: rgba(226, 224, 255, 0.4);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	border-radius: 5px;
}

.main-feature {
	height: 500px;
}

.icon {
	height: 15px;
	width: 15px;
	color: #3273dc;
}

.content {
	.title {
		font-size: 2.7em;
	}
}

.emailInput {
	padding: 10px !important;
}


.pens {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;

	@for $i from 0 through 44 {
		.input-#{$i}:checked~.pen-#{$i} {
			display: block;
		}

		.input-#{$i}:checked~.label-#{$i} {
			background: #00d1b2;
		}
	}


	.codepens {
		width: 600px;

		input {
			display: none;
		}

		.pen {
			display: none;
		}



	}
}