body {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: #00d1b2;
}

iframe {
    height: 475px;
}

.has-margin-right-20 {
    margin-right: 20px;
}

article {
    padding: 20px;
    margin-left: -20px;
    transition: 0.3s ease;
}
article:hover {
    background-color: rgba(226,224,255, 0.4);
    transition: 0.3s ease;
}

.content {
    ul {
        p {
            margin-bottom: 0!important;
        }
    }
    pre {
        padding: 0!important;
        border-radius: 5px;
        margin: 30px 0!important;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    }

}