$primary-color: linear-gradient(270deg, #96c93d, #00b09b);
$first: rgba(108, 99, 255, 0.4);
$second: #00d1b2;
// $first: #00b09b;
// $second: #96c93d;

body {
	font-family: 'Raleway',
		sans-serif;
}

.greenButton {
	// padding: .75rem 1.25rem;

	font-weight: 700;
	border: none;
	color: #FFF;
	background-color: #00d1b2;
	background-image: linear-gradient(to right, $first 0%, $second 51%, $first 100%);

	transition: background 0.5s ease;
	background-size: 300% auto;

	&:focus {
		color: #FFF;
	}

	&:hover {
		background-position: right center;
		color: #FFF;
	}
}

a:hover {
	color: $primary-color;
	font-weight: bold;
}

iframe {
	height: 475px;
}

.has-margin-right-20 {
	margin-right: 20px;
}

article {
	padding: 20px;
	margin-left: -20px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

article:hover {
	background-color: rgba(226, 224, 255, 0.4);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	border-radius: 5px;
}

.content {
	ul {
		p {
			margin-bottom: 0 !important;
		}
	}

	.button {
		margin-right: 20px;
	}


	pre {
		padding: 0 !important;
		border-radius: 5px;
		margin: 30px 0 !important;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
	}

	.task-list-item {
		list-style-type: none;
	}

}

.card-content {
	.title {
		font-size: 1em;
	}

	.button.is-primary {
		background: #3273dc;
	}
}