
.center {
 
      color: #FFF;
      font-size: 5em;
      font-weight: bold;
      
      background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
      text-align: left;
      background-size: 800% 800%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: rainbow 4s ease infinite alternate;
  }
  
  @keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }
  
  .e {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%,-50%);
      height: 150px;
      width: 100px;
      .top {
          background: red;
          height: 10px;
          width:  85px;
          position: absolute;
          top: 0;
          left: 15px;
          border-radius: 10px;
      }
      .mid {
          background: red;
          height: 10px;
          width:  85px;;
          position: absolute;
          top: 50%;
          left: 15px;
          border-radius: 10px;
      }
      .bottom {
          background: red;
          height: 10px;
          width:  85px;;
          position: absolute;
          bottom: 0px;
          left: 15px;
          border-radius: 10px;
      }
      .left {
          background: red;
          height: 100%;
          width:  10px;;
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 10px;
      }
  }
  
  .n {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 150px;
      width: 100px;
      // background: #FFF;
  
      .left {
          background: red;
          height: 100%;
          width:  10px;;
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 10px;
      }
      .mid {
          background: red;
          height: 160px;
          width:  9px;;
          position: absolute;
          top: -1px;
          left: 46%;
          transform-origin: 0;
          transform: rotate(-25deg);
          border-radius: 10px;
      }
      .right {
          background: red;
          height: 100%;
          width:  10px;
          position: absolute;
          top: 0px;
          right: 0px;
          border-radius: 10px;
      }
  }
  
  .d {
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%,-50%);
      height: 150px;
      width: 100px;
      .left {
          background: red;
          height: 100%;
          width:  10px;;
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 10px;
      }
      .half-circle {
          height:130px;
          width: 70px;
          border-radius: 130px 0 0 130px;
          border-top: 10px solid red;
          border-left: 10px solid red;
          border-bottom: 10px solid red;
          transform: translate(20px) rotate(180deg);
          position: relative;
      }
      .border-circle {
          background-color: red;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          position: absolute;
      }
      .left-circle {
          right: -5px;
          top: -10px;
      }
      .right-circle {
          bottom: -10px;
          right: -5px;
      }
  }